.heading, .middle {background-image:
  url("image/the-flatiron-building.png");
}

h1 {font-size: 70px;
font-weight:bold;
color:white;}

body{font-family: Helvetica;
text-align: center;}

ul {list-style-type: none;
  }

.heading a {font-size:18px;
color:white;
}

h2 {
  font-weight: bold;
  font-size:32px;
}

h3 {
  font-weight: bold;
  font-size:23px;
}

p {
  font-size: 14px;
}

.middle {
  font-size: 23px;
  font-weight:bold;
  color:white;
}
